body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    font-family: "Permanent Marker", cursive;
    margin-top: 50px;
    margin-bottom: 30px;
}

li {
    list-style: none;
    color: #132743;
    font-size: 15px;
    line-height: 19px;
    margin: 0;
    padding: 0;

}

li:first-letter{
    text-transform: capitalize;
}

ul{
    margin:0;
    padding: 0;
}

strong{
    font-size:10px;
    font-weight: 100;
}

#current-city{
    color: #132743;
    font-size: 25px;
    line-height: 28px;
    margin-bottom: 0;

}

#icon{
    display: block;
    margin: 0 auto;
}

#metric{
    font-size:45px;
}

#max-temp{
    font-weight: bold;
}

#temperature{
    font-size:45px;

}

.app-wrapper{
    max-width: 600px;
    margin: 30px auto;
}

.app {
    padding: 20px;
    border: 1px solid #969696;
    border-radius: 5px;
    background-image: linear-gradient(-100deg, #fffeff 0%, #d7fffe 100%);
}

.forecast h3{
    color: black;
    font-size: 15px;
    text-align: center;
    height: 15px;
    line-height: 15px;
    padding-top: 7px;
}

.forecast img{
    display: block;
    margin: 0 auto;
    height: 48px;
    width: 48px;
}

.weather-forecast-temp{
    text-align: center;
    color: black;
    font-size: 13px;
    font-weight: 400;
    height: auto;
    line-height: 15px;
    white-space: nowrap;
}

