h1 {
    color: #ff5722;
    text-align: center;
    font-family: "Permanent Marker", cursive;
    margin-top: 50px;
    margin-bottom: 30px;
}

li {
    list-style: none;
    color: white;
    font-size: 15px;
    line-height: 19px;
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

li:first-letter{
    text-transform: capitalize;
}

p{ 
    font-size:25px;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

ul{
    margin:0;
    padding: 0;
}

strong{
    font-size:10px;
    font-weight: 100;
}

#current-location{
    color: white;
    font-size: 40px;
    line-height: 28px;
    margin-bottom: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#icon{
    display: block;
    margin: 0 auto;
}

#celsius{
    font-size:25px;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


#max-temp{
    font-weight: bold;
}

#temperature{
    font-size:45px;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#farenheit{
    font-size:25px;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#search-input{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#search-btn{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.weather-temperature .active {
    color: rgb(33, 33, 33);
    cursor: default;
}
  
.weather-temperature .active:hover {
    text-decoration: none;
}

.app-wrapper{
    max-width: 600px;
    margin: 30px auto;
}

.app {
    padding: 20px;
    border: 1px solid #969696;
    border-radius: 5px;
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}

.forecast h3{
    color: white;
    font-size: 15px;
    text-align: center;
    height: 15px;
    line-height: 15px;
    padding-top: 7px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.forecast img{
    display: block;
    margin: 0 auto;
    height: 48px;
    width: 48px;
}

.weather-forecast-temp{
    text-align: center;
    color: white;
    font-size: 13px;
    font-weight: 400;
    height: auto;
    line-height: 15px;
    white-space: nowrap;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}